.main{
    width: 100%;
    height: auto;
}
.mainHero{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../public/images/hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
    gap: 12px;   
}
.mainHeroTitle{
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--darkTextColor);
}
.mainHeroDescription{
    width: 480px;
    word-wrap: break-word;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: var(--darkSecundaryTextColor);
    margin-bottom: 10px;
}
.mainHeroButton{
    width: auto;
    padding:0px 20px ;
    height: 50px;
    text-align: center;
    line-height: 50px;
    user-select: none;
    border-radius: 8px;
    color: #ffff;
    border: 1px solid #ffff;
    transition: background-color 300ms,color 300ms ;
}
.mainHeroButton:hover{
    background-color: #ffff;
    color: #141414;
}
.mainConversors{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #2a2a2a;
}
.mainComversorsHero{
    width: 100%;
    padding: 20px;
}
.mainComversorsHeroTitle{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffff;
}
.mainConversorsList{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 12px;
}
.mainConversorResult{
    color: #c9c9c9;
    display: flex;
    border: 1px solid #ffff;
    width: auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 8px;
}
.mainConversorResultValue{
    font-size: 24px;
}

@media (min-width: 0px) and (max-width: 640px) {
    .mainHeroTitle{
        font-size: 48px;
    }
    .mainHeroDescription{
        width: 360px;
        font-size: 14px;
    }
}